@font-face{
	font-family: 'Proxima';
	src: url(../fonts/ProximaNova-Extrabld.ttf);
}
@font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('../fonts/droidserif.woff2') format('woff2'), url('../fonts/droidserifitalic.woff') format('woff'), url('../fonts/droidserifitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
html{
	scroll-behavior: smooth;
}
header{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	transition: all 0.4s ease;
}
header i{
	padding-right: 10px;
}
.navbar-brand{
	font-family: Proxima, sans-serif;
	font-weight: 800;
	font-size: 30px;
	color: #3c3d42;
	padding-right: 35px;
}
.navbar-text{
	padding-right: 35px;
	color: #3d3e43;
}
.first-section{
	margin-top: 70px;
}


/*Slider*/
.bg{
	background: #0d68ae center;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.slider__title{
	font-family: 'Raleway', sans-serif;
	padding-bottom: 255px;

}
.slider__title h1{
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 36px;
	color: #ffffff;
	margin-top: 180px;
	padding-bottom: 15px;
}
.slider__subtitle{
	font-weight: 300;
	font-size: 36px;
	color: #ffffff;
	padding-bottom: 40px;

}
.slider__text{
	font-weight: 400;
	font-size: 14px;
	color: #9dc7d1;

}
.slider__btn{
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 700;
	color: #fff;
	background: 0;
	border: 0;
	margin-top: 55px;
	padding: 16px 53px;
	transition: border 0.3s ease;
	border: 3px solid transparent;
	border-radius: 30px;
	
}
.slider__btn:hover{
	border: 3px solid #93b2b7;	
}
.images{
	position: relative;
}
.images__item{
	position: absolute;
	bottom: 0px;
	max-width: 100%;
}

/*Third*/

.heading{
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
.heading__title{
	color: #636c6c;
	font-weight: 700;
	font-size: 36px;
	margin: 0;
	padding: 0;
	margin-top: 100px;
	margin-bottom: 35px;
}
.heading__text{
	text-align: center;
	color: #afb8b8;
	font-size: 16px;
	/*width: 44.4312796%;*/
	margin: 0 auto;
}
.bar{
	text-align: right;
	height: 600px;
	width: 310px;
	border-right: 1px solid #dbe2e2;
	padding-right: 60px;
	margin-top: 60px;
	padding-top: 54px;
}
.bar ul, li{
 	margin: 0;
 	padding: 0;
 	display: block;

}
.bar__list{
	
}
.bar__item{
	padding-bottom:  67px;
}
.bar a{
	color: #9fa9a9;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	position: relative;
	transition: color 0.5s;
}
.bar i{
	padding-right: 35px;
	font-size: 48px;
}
.bar__item a:after{
	display: block;
	position: absolute;
	content: "";
	height: 80px;
	width: 0;
	background: #5dca88;
    right: -66px;
    bottom: -20px;
}
.bar__item a:focus:after{
	width: 10px;
}
.bar__item a:hover{
	color: #636c6c;
	transition: color 0.5s;
}
.bar__item a:hover i{
	color: #68ce90;
	transition: color 0.5s;
}
.bar__item a:focus{
	color: #636c6c;
}
.bar__item a:focus i{
	color: #68ce90;
}
.preview{
	padding-top: 170px;
}
.preview__image{
	display: block;
	text-align: center;
}
.preview__image i{
	font-size: 220px;
	color: #68ce90;

}
.preview__text{
	padding-top: 80px;
	padding-bottom: 205px;
}
.preview__text h2{
	font-family: Raleway, sans-serif;
	font-weight: 700;
	color: #636c6c;
	margin-bottom: 35px;
}
.preview__text p{
	font-family: Raleway, sans-serif;
	font-size: 16px;
	color: #afb8b8;
}

/*Fourth screen*/

.colored{
	background: #f2f9fe center;
}
.screen__title{
	position: static;
	padding-top: 165px;
	padding-bottom: 185px;
}
.screen__title hr{
	width: 105px;
	height: 2px;
	margin: 0;
	background:  #949c9c;
}
.screen__title h1{
	margin: 0;
	color: #5dca88;
	padding-bottom: 25px;
}
.screen__subtitle{
	padding-top: 40px;
	color: #8c9494;
}
.screen__text{
	color: #a7afb0;
	margin-bottom: 0;
}
.screen__btn{
	color: #636c6c;
	margin-top: 57px;
}
.screen__img{
	position: relative;
	padding-top: 75px;
}
.screen__img img:first-child{

}
.screen__img img:last-child{
	position: absolute;
	top: 172px;
	left: 28px;
}

/*Fifth screen*/

.gallery{
	display: flex;
	text-align: center;
	padding-top: 85px;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.gallery__item{
	position: relative;
}
.gallery__item img:nth-child(2n){
	position: absolute;
	left: 24px;
	top: 90px;
}
.gallery__item p{
	color: #babfbf;
	padding-top: 45px;
	font-size: 14px;
	width: 250px;
	margin-left: 20px;
	padding-bottom: 125px;
}

/*Sixth screen*/

.geature__img{
	margin-top: 80px;
	position: relative;
}
.geature__img img:first-child{
	position: absolute;
	left: 187px;
	
}
.geature__img img:nth-child(2n){
	position: absolute;
	z-index: 2;
	top: 98px;
	left: 28px;
}
.geature__img img:last-child{
	position: relative;
	z-index: 0;
	left: 0px;
}

/*Seventh screen*/

.testimonials{
	text-align: center;
}
.testimonials h2{
	margin-top: 100px;
	font-family: Raleway, sans-serif;
	font-size: 32px;
	font-weight: 700;
	padding-bottom: 45px;
	margin-bottom: 0px;
	color: #636c6c;
}
.testimonials__quote{
	font-family: 'Droid Serif', sans-serif ;
	padding-top: 45px;
} 
.testimonials__author{
	font-size: 24px;
	color: #68ce90;
}
.testimonials__nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	padding-bottom: 115px;
}
.dot{
	background: #8c9494;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 5px;
}
.dot:focus{
	background: #5dca88;
}

/*eigth screen*/

.grey{
	background: #f3f5f5;
}
.newslatter{
	text-align: center;
	padding-bottom: 120px;
}
.newslatter h2{
	font-family: Raleway, sans-serif;
	font-size: 32px;
	font-weight: 700;
	/*padding-left: 20px;*/
	margin-top: 90px;
	color: #8c9494;
}
.newslatter i{
	padding-right: 20px;
}
.form{
	position: relative;
	/*text-align: center;*/
	/*padding-bottom: 120px;*/
}
.newslatter input[type='text']{
	margin: 0 auto;
	margin-top:60px;
	width: 65.8119658%;
	border-radius: 25px;
	padding: 15px 30px;
	border: 2px solid #bbc3c2;
	font-size: 14px;
	outline: 0;
	/*position: absolute;*/
	left: 50%;
	/*margin-left: -32.9059829%;*/
	color: #bbc3c2;
}
.newslatter input[type='submit']{
	/*position: absolute;*/
	left: 744px;
	top: 59px;
	text-transform: uppercase;
	color: #ffffff;
	background: #5dca88;
	border: 0;
	font-family: Proxima, sans-serif;
	font-size: 20px;
	border-radius: 25px;
	padding: 13px 50px;
	outline: 0;
}

/*Footer*/
footer{
	text-align: center;
	background: #2d312f;
}
.credits{
	color: #5d6461;
	padding-top: 75px;
	padding-bottom: 50px;
}
.credits span{
	font-size: 24px;
}
.credits__icons{
	padding-top: 35px;
}
.credits__icons a{
	padding-right: 20px;
}
.credits__icons a:last-child{
	padding-right: 0px;
}
.credits__icons a:hover{
	color: #67706c;
}
.credits__nav{
	padding-top: 65px;
}
.credits__nav a{
	padding: 10px;
	color: #5d6461;
	text-decoration: none;
}
.credits__nav a:hover{
	color: #67706c;
}

@media screen and (max-width: 767px){
	.newslatter input[type='submit']{
		margin-top: 20px;
		width: 80%;
	}
	.newslatter input[type='text']{
		width: 80%;
	}
}